{
  "extends": [
    "standard",
    "standard-react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false
      }
    ]
  }
}
